.flex-container {
	@include df;
}

.space-between {
	@include df;
	justify-content: space-between;
}

.row {
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.fcenter {
	@include df;
	justify-content: center;
	align-items: center;
}
