.form {
	margin-bottom: 50px;
	@include _768 {
		margin-bottom: 20px;
	}
	input,
	textarea {
		width: 100%;
		margin: 25px 0 0;
		padding: 15px 18px;
		border: solid 2px #959595;
		background-color: #252525;
		@include phcolor(#959595);
		color: #fff;
		font-size: 15px;
		text-align: left;
		&:focus {
			border-color: #fff;
		}
		&.err {
			border-color: tomato;
		}
	}

	textarea {
		resize: none;
		margin-bottom: 25px;
	}
}
